@import '../variables/_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $base-font-size+px;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $body-font-color;
}